body {
  background: #FFFAF0;
}

a:link {
  color: #3A86FF;
}

a:visited {
  color: #4181A4;
}

a:active {
  color: #E76F91;
}

a:hover {
  color: #513B56;
}

h3 {
  border-left: 8px double #00cc99;
  padding-left: 10px;
}

h4 {
  border-left: 5px solid #9999ff;
  margin-left: 10px;
  padding-left: 10px;
}
